# backend
# Node.js
backend/node_modules/

# Logs
backend/logs
backend/*.log
backend/npm-debug.log*

# Dependency directories
backend/pids
backend/logs
backend/*.pid
backend/*.seed
backend/*.pid.lock

# Optional npm cache directory
backend/.npm

# Optional eslint cache
backend/.eslintcache

# Optional REPL history
backend/.node_repl_history

# Environment variables
backend/.env*

# frontend
# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
